body {     
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background: #030000;
}
/* usar para mmexer na linha toda  */
header {
    
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: transparent;
    margin: 20px;
}
/* usar essa linha para mexer no que tem dentro das caixas */
.menu a {
text-decoration: none;
color: #0c0c0c;
padding: 5px;
font-size: 1.5em;
background-color: #00ffff;
margin-left: 40px;
border-radius: 10%;
border: 2px solid #036085;
border-right: 4px solid rgb(3, 150, 150);
border-bottom: 4px solid rgb(3, 150, 150);
}

main {
    text-align: center;
    justify-content: center;
    display: block;
    text-decoration: none;
}

.logo p {
    color: #ffffff;
}

p {
    color: #000000;
    display: flex;
    justify-content: center;
    font-size: large;
}



h1, h2, h3 {
    color: #ffffff;
    justify-content: center;
    display: flex;
}

#services {
    background-color: #03c4e6;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    text-align: center;
}

#serviço {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    margin-top: 14%;
 
}

#img1 {
    border-radius: 15%;
}

section, footer {
    padding: 20px;
    display: block;
    justify-content: center;
}

#about p {
    color: #ffffff;
    justify-self: center;
    display: flex;
    text-align: center;

}

#foto {
    display: center;
    justify-content: center;
    /* padding: 1%; */
    inline-size: 10%;
    border: #000000;
    border-radius: 5px;
    border-bottom: 5px solid #000000;
    border-right: 5px solid #000000;
    border-top: 2px solid #000000;
    border-left: 2px solid #000000;

}

/* Rodapé */
footer {
    text-align: center;
    padding: 20px;
    background: #03e2ff;
}

